
Data Engineer Scraping test - 17-06-21/candidateEvalData/airlines.csv
Data Engineer Scraping test - 17-06-21/candidateEvalData/airports.csv
Data Engineer Scraping test - 17-06-21/candidateEvalData/dim_df_correct.csv
Data Engineer Scraping test - 17-06-21/candidateEvalData/flights.csv
Data Engineer Scraping test - 17-06-21/candidateEvalData/weather.csv
Data Engineer Scraping test - 17-06-21/candidateEvalData/webpage.html
Data Engineer Scraping test - 17-06-21/JHA_Data_Engineer_Scraping_Assessment.html
